<!doctype html>
<html lang="en">
  <% include ./partials/head %>
  <body class="min-h-screen flex flex-col bg-base-100">
    <% include ./partials/nav %>
    <main class="container mx-auto p-6 flex-1">
      <%- body %>
    </main>
    <% include ./partials/footer %>
    <script src="/js/main.js"></script>
  </body>
</html>
